.btn-primary {
    background-color: #1F7D53 !important;
    border-color: #1F7D53 !important;
    font-family: 'Ubuntu';
}


.btn-primary:hover {
    background-color: #255F38 !important;
    transform: translateY(-1px) !important;
}


body {
    font-family: 'Ubuntu' !important;
    margin: 0;
    padding: 0;
    background-color: #18230F;
    color: white;
    width: 100% !important;
}



.hero {
    background-color: transparent;
    color: white;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-content {
    width: 50%;
    padding-right: 20px;
}


.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}


.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: white;
}


.hero-content .btn {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-image {
    width: 50%;
    text-align: right;
}


.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.features {
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #1F7D53;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.feature {
    text-align: center;
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #18230F;
}


.feature p {
    font-size: 1em;
    color: #18230F;
}


footer {
    background-color: white !important;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}


.navbar {
    background-color: #1F7D53 !important;
}


input{
    color: white;
}


input:focus {
    color: white !important;
}


textarea{
    color: white;
}


textarea:focus {
    color: white !important;
}


.auth-field{
    background-color: #1F7D53 !important;
    border: #1F7D53;
    color: white;
}


.auth-field:focus{
    box-shadow: 1px 1px 20px #1F7D53 !important;
}


.form-check-input:checked {
    border-color: #1F7D53;
    box-shadow: 1px 1px 20px #1F7D53;
    background-color: #1F7D53;
}


.btn-link{
    color: #1F7D53;
}


.btn-link:hover{
    color: #255F38;
    box-shadow: none;
}


select {
    background-color: #165d31 !important;
    color: #1b783f;
}

select:focus {
    outline: none;
    border-color: #fff;
    color: white;
}

option {
    background-color: #165d31;
    color: white;
}

option:checked {
    background-color: #1b783f !important;
    color: white !important;
}

option:hover {
    background-color: #1b783f !important;
    color: white !important;
}

